
.corpo{background: url(../../../assets/img/ilustracao/Forma_1.svg) no-repeat;
    background-size: 99%;
    background-color: #3772FF;
    height: 2000px;
}

.cabacalho{
    width: 100%;
    height: auto;
}
