body{
    background: url(../../../assets/img/ilustracao/Forma_1.svg) no-repeat;
    background-color: #3772FF;
    background-size: 99%;
}
.cabecalho-ul li{
    display: inline;
}
.cabecalho-ul li img{
    width: 40px;
}
