.navegacao{
    padding-top: 3%;
}
.navegacao__caixa{
    position: relative;
    width: 100%;
}

.navegacao__logo{
    position: absolute;
    left: -290px;
}

.navegacao__ul{
    padding-right: 250px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.navegacao__li{
    margin-left: 30%;
}

.navegacao__img{
    width: 1.5rem;
}

.navegacao__img.mensagens{
    width: calc(1rem + 0.9rem);
}